gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
/key.properties
GeneratedPluginRegistrant.java

# fastlane files
/fastlane/report.xml
/fastlane/Preview.html
/fastlane/metadata
/fastlane/screenshots
/fastlane/test_output

# Ignore Android keys
key.jks
key.properties
service_account_key.json
android_keys.zip
